# this property specifies a comma separated list of paths containing
# resources to copy to the build directory
app.resource.paths=

#==============================================================================
# Custom Properties - Place customizations below this line to avoid merge
# conflicts with newer versions

cmd.jvm.args=-Xms1024m -Xmx8192m -Dapple.awt.UIElement=true -XX:-UseGCOverheadLimit -XX:+HeapDumpOnOutOfMemoryError -XX:-UseConcMarkSweepGC